<section class="flex-1 w-lg mt-28 mx-auto flex flex-col justify-center items-center gap-10">
  <h2 class="font-medium text-3xl">Edit Task</h2>
  
  <div class="flex-1 flex flex-col justify-center items-center gap-4 container">
    <%= render partial: "tasks/form", locals: {task: @task} %>
</section>