<section class="flex-1 w-lg mt-28 mx-auto flex flex-col justify-center items-center gap-10">
  <h2 class="font-medium text-3xl">New Task</h2>
  
  <%= render partial: "tasks/form", locals: {task: @task} %>
</section>